{% extends 'base.html' %}

{% block title %}Página inicial{% endblock %}

{% block content %}

<div class="bg-gray-100 min-h-screen flex items-center justify-center px-4 py-10">
  <div class="flex flex-col lg:flex-row gap-10 w-full max-w-7xl">

    <!-- Lista de Balancetes -->
    <div class="bg-white rounded-lg shadow-md p-8 flex flex-col w-full lg:w-1/2" style="height: 70vh;">
      
      <div class="flex py-2 items-baseline justify-between">
        <!-- Título e descrição -->
        <div>
          <h2 class="mt-6 text-3xl font-bold text-gray-900">Meus balancetes</h2>
          <p class="mt-2 text-sm text-gray-600">Gerencie suas finanças com facilidade</p>
        </div>
        <!-- Logo -->
        <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" alt="Logo"
          class="h-12 w-auto">
      </div>

      <div class="mt-6 overflow-y-auto flex-1 space-y-4 pr-2" style="max-height: calc(70vh - 140px);">
        {% for b in balancetes %}
        <a href="{% url 'verBalancete' b.id %}" class="block group">
          <div
            class="p-4 bg-white rounded-lg shadow border border-neutral-300 hover:shadow-md transition-shadow group-hover:border-indigo-500">
            <h3 class="text-lg font-semibold text-gray-900 group-hover:text-indigo-600 break-words">{{ b.nome }}</h3>
            <p class="mt-1 text-sm text-gray-600 group-hover:text-indigo-500">Valor investido: R$ {{ b.saldo }}</p>
          </div>
        </a>
        {% empty %}
        <p class="text-gray-500">Nenhum balancete criado ainda.</p>
        {% endfor %}
      </div>
    </div>

    <div class="bg-white rounded-lg shadow-md p-8 flex flex-col w-full lg:w-1/2" style="height: 70vh;">

      <div class="flex py-2 items-baseline justify-between">
        <div>
          <h2 class="mt-6 text-3xl font-bold text-gray-900">Criar balancete</h2>
          <p class="mt-2 text-sm text-gray-600">Gerencie suas finanças com facilidade</p>
        </div>
        <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" alt="Logo"
          class="h-12 w-auto">
      </div>

      <form class="space-y-4 overflow-y-auto" method="post" action="{% url 'criarBalancete' %}">
        {% csrf_token %}

        <div class="mt-2">
          <label for="{{ form.nome.id_for_label }}" class="block text-sm font-medium text-gray-700">
            {{ form.nome.label }}
          </label>
          <div class="mt-1">
            {{ form.nome }}
          </div>
        </div>

        <div class="mt-2">
          <label for="{{ form.valor.id_for_label }}" class="block text-sm font-medium text-gray-700">
            {{ form.valor.label }}
          </label>
          <div class="mt-1">
            {{ form.valor }}
          </div>
        </div>

        <div class="mt-2">
          <label for="{{ form.descricao.id_for_label }}" class="block text-sm font-medium text-gray-700">
            {{ form.descricao.label }}
          </label>
          <div class="mt-1">
            {{ form.descricao }}
          </div>
        </div>

        <div>
          <button type="submit"
            class="flex mt-12 rounded-md bg-indigo-600 px-6 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
            Criar balancete
          </button>
        </div>
      </form>
    </div>

  </div>
</div>

{% endblock %}