{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="bg-gray-100">
    <div class="flex items-center justify-center min-h-screen">
        <div class="w-full max-w-md p-8 space-y-6 bg-white rounded-lg shadow-md">
            <div class="text-center">
                <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" alt="Logo"
                    class="mx-auto h-12 w-auto">
                <h2 class="mt-6 text-3xl font-bold text-gray-900">Acesse sua conta</h2>
                <p class="mt-2 text-sm text-gray-600">Gerencie suas finanças com facilidade</p>
            </div>

            <form class="space-y-4 overflow-y-auto" method="post" action="{% url 'login' %}">
                {% csrf_token %}

                <div class="mt-2">
                    <label for="{{ form.cpf.id_for_label }}" class="block text-sm font-medium text-gray-700">
                        {{ form.cpf.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.cpf }}
                    </div>
                </div>
                <div class="mt-2">
                    <label for="{{ form.password.id_for_label }}" class="block text-sm font-medium text-gray-700">
                        {{ form.password.label }}
                    </label>
                    <div class="mt-1">
                        {{ form.password }}
                    </div>
                </div>

                {% if messages %}
                    {% for message in messages %}
                        <p class="text-red-500">{{ message }}</p>
                    {% endfor %}
                {% endif %}


                <div>
                    <button type="submit"
                        class="flex w-full justify-center rounded-md bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                        Entrar
                    </button>
                </div>

            </form>

            <p class="mt-6 text-center text-sm text-gray-600">
                Não tem uma conta?
                <a href="{% url 'cadastro' %}" class="font-medium text-indigo-600 hover:text-indigo-500">Cadastre-se</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}