{% extends 'base.html' %}

{% block title %} Meus balancetes {% endblock %}

{% block content %}

<div class="bg-gray-100">
    <div class="flex items-center justify-start px-20 min-h-screen">
        <!-- Card principal com altura fixa e overflow -->
        <div class="w-full p-8 bg-white rounded-lg shadow-md flex flex-col" style="height: 80vh;">
            
                <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" alt="Logo"
                    class="mx-auto h-12 w-auto">
                <h2 class="mt-6 text-3xl font-bold text-gray-900">Meus balancetes</h2>
                <p class="mt-2 text-sm text-gray-600">Gerencie suas finanças com facilidade</p>

            <!-- Container com scroll vertical -->
            <div class="mt-6 overflow-y-auto flex-1 space-y-4">
                {% for b in balancetes %}
                <a href="#" class="block">
                    <div class="p-6 bg-white rounded-lg shadow hover:shadow-md transition-shadow">
                        <h2 class="text-xl font-bold text-gray-900 break-words">{{ b.nome }}</h2>
                        <p class="mt-2 text-sm text-gray-600">Valor investido: {{ b.saldo }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>

        </div>
    </div>
</div>


{% endblock %}